.headWrap {
  height: 60px;
  background-color: #827ab5;
  margin-bottom: 4px;
}

ul {
  float: right;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 8px;
}
