.headWrap {
  height: 50px;
  background-color: #827ab5;
  margin-bottom: 4px;
  position: relative;
}

.headList {
  position: absolute;
  bottom: 10%;
  right: 20px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 8px;
}
