.footertWrap {
  background-color: #827ab5;
  width: 100%;
  box-sizing: border-box;
  z-index: 888;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 8px;
}

a {
  text-decoration: none;
  padding: 8px;
  color: White;
}
