h2 {
  text-align: center;
  margin: 10px;
}
.services {
  display: flex;
  text-align: center;
}
.cut,
.extension,
.color,
.bridal {
  width: 50%;
  padding: 10px;
  background-color: #827ab510;
  cursor: pointer;
}

img {
  width: 100%;
}
