<h2>Services</h2>
<div class="services">
  <div class="cut">
    <img src="https://www.bleusurbleu.com/img/service1.jpg" alt="" />
    <p>Cut And Style</p>
  </div>

  <div class="color">
    <img src="https://www.bleusurbleu.com/img/hair-color.jpg" alt="" />
    <p>Hair Color</p>
  </div>
</div>

<div class="services">
  <div class="extension">
    <img src="https://www.bleusurbleu.com/img/hairextension.jpg" alt="" />
    <p>Hair Extension</p>
  </div>

  <div class="bridal">
    <img src="https://www.bleusurbleu.com/img/service1.jpg" alt="" />
    <p>Bridal Service</p>
  </div>
</div>
